<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="/js/app.js"></script>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

<div ng-show="formContato">
	Nome <input type="text" ng-model="contato.nome"/>
	Tel <input type="tel" ng-model="contato.tel"/>
	E-mail <input type="text" ng-model="contato.email"/>
	<input type="submit" value="Salvar" ng-click="salvaContato()"/>
	<input type="submit" value="Cancelar" ng-click="cancelaContato()"/>
</div>

<p ng-show="msgErro" style="color:red">Erro</p>

<div>
	<input type="submit" value="Novo" ng-click="novoContato()"/>
	<table>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Tel</th>
			<th>E-mail</th>
		</tr>
		<tr ng-repeat="contato in contatos">
			<td>{{contato.id}}</td>
			<td>{{contato.nome}}</td>
			<td>{{contato.tel}}</td>
			<td>{{contato.email}}</td>
			<td><input type="submit" value="Remover" ng-click="removeContato(contato.id, $index)"/></td>
			<td><input type="submit" value="Alterar" ng-click="alteraContato(contato, $index)"/></td>
		</tr>
	</table>
</div>

<a href="/logout" >Logout</a>

</body>
</html>