<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>


<h1>Login</h1>

<form action="login" method='POST'>
	User:<input type='text' name='username'/>
	Password:<input type="password" name='password'/>
	<input name="submit" type="submit" value="submit" />
</form>
<p th:if="${erro == true}" style="color:red">Falha no login</p>
<p th:text="${erro}"></p>


</body>
</html>