<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p th:text="${usuario}"></p>
<div th:each="autoridade: ${autoridades}">
	<p th:text="${autoridade}"></p>
</div>
</body>
</html>